.aboutContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

.aboutContent {
  flex: 3;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.aboutBg {
  flex: 3;
  height: 100%;
  background-size: cover;
}

.button {
  margin-top: 20px;
  width: 150px;
}

@media screen and (max-width: 1246px) {
  .aboutBg {
    display: none;
    height: 600px;
  }
  .aboutContainer{
    height: auto;
  }
}
