@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
}
.navbar-container {
  font-family: 'Poppins', sans-serif;
  background-color: #15516b;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
}

.navbar-logo {
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  color: white;

}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #15516b;
}

.nav-button {
  
  border-radius: 1px solid white;  
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #15516b;
}


.user-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu button {
  background: none;
  border: none;
  color: #15516b;
  cursor: pointer;
  font-weight: 600;
}
